<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kt.rookie.model.mapper.NosunMapper">
	<select id="getNosunList" resultType="nosunVO">
		SELECT station_id, bus_id, commute_id, line, main_place, detail_place, departure_time, office_place, office_time, latitue, longitude
		FROM nosun
		WHERE office_place != '' AND commute_id = 0
	</select>
	
	<select id="getNosunListByBusId" resultType="nosunVO">
		SELECT bus_id, station_id, main_place, detail_place, departure_time, latitue, longitude
		FROM nosun
		WHERE bus_id = #{busId}
		ORDER BY station_id
	</select>
	
	<select id="getRemainSeatsByBusId" resultType="nosunVO">
		SELECT a.reserve_date as date, IFNULL(a.remain_seat-b.count_reserve, a.remain_seat) as remain_seats_count
		FROM (
			SELECT temp_date as reserve_date, 44 as remain_seat
			FROM (
				SELECT @rnum:=@rnum+1 as rownum, date(adddate('2022-01-01', interval @rnum day)) as temp_date
				FROM (
					SELECT @rnum:=-1
				) r, dummydatenum
			) k
		WHERE temp_date between '2022-12-01' and '2022-12-31') a
		left join (
			SELECT reserve_date, count(reserve_date) as count_reserve
			FROM reservation
			WHERE bus_id=1
			GROUP BY reserve_date) b on a.reserve_date = b.reserve_date
	</select>

</mapper>