<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kt.rookie.model.mapper.ReservationMapper">

	<insert id="doReservation" parameterType="reservationVO" useGeneratedKeys="true">
		INSERT INTO reservation(reserve_date, bus_id, station_id)
		VALUES (#{reserveDate}, #{busId}, #{stationId})
		<!--		<foreach collection="list" item="item" separator=" , ">  -->
	</insert>
	
	<select id="getReservation" resultType="java.util.HashMap" >
		SELECT a.reservation_id, a.reserve_date, a.station_id, b.main_place, b.detail_place, b.departure_time, b.office_place, b.office_time, b.bus_id, b.car_num as bus_number, b.phone as bus_driver_number
		FROM reservation a
		LEFT JOIN nosun b on a.station_id = b.station_id
	</select>
	
	<select id="getRemainSeatsByBusId" resultType="java.util.HashMap">
		SELECT reserve_date, count(reserve_date) as count_reserve
		FROM reservation
		WHERE bus_id= #{busId} AND DATE_FORMAT(reserve_date, '%m') = Month(Now())
		GROUP BY reserve_date
	</select>
	
	<delete id="deleteReservation" parameterType="java.lang.String">
		DELETE FROM reservation
		WHERE reservation_id = #{reservationId}
	</delete>
</mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
















